.nav {
  background-color: #336B87;
}

nav.nav .brand-logo.right {
  color: white;
  margin-right: 2vw;
}

div.nav-wrapper ul.nav a:hover {
  background-color: 763626;
}

ul#nav-mobile {
  background-color: #00bcd4;
}

.navLink {
  color: white;
  font-size: 24px;
  
}
.welcomeText {
  position: absolute;
  top: 10vw;
}

.welcome button.btn {
  position: relative;
  top: -20vw;
  margin: 0 2vw;
  background-color: #336B87;
}

a.navLink:hover {
  background-color: #763626;
}

div.nav-wrapper ul a:hover {
  background-color: #763626;
}