
.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding-top: 150px; */
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  
  color: white;
}

.headerContainer{
  background-color: #141822;
}

.welcome a {
  color: #141822;
  font-weight: 500;
}

ul#nav-mobile{
  background-color: #00bcd4;
}

div.welcome button {
  padding: 0;
}

div.welcome button a {
  display: block;
  width: 10vw;
}

div.welcome button:hover {
  background-color: rgb(31, 152, 249);
}