
.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding-top: 150px; */
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  
  color: black;
}


.welcome a {
  color: white;
  font-weight: 500;
}

ul#nav-mobile{
  background-color: #336b87;
}

div.welcome a {
  padding: 0;
}

div.welcome a button {
  width: 10vw;
}

div.welcome button:hover {
  background-color: #763626;
}